.card {
  position: relative;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  border-radius: 12px;
  padding: 80px 50px 50px 50px;
  width: 504px;
  box-shadow: 6px 6px 0px 2px var(--dark-gray);
  flex: 1 1 calc(33.33% - 27px);
  max-width: calc(33.33% - 27px);
  
}
.card:hover {
    transform:scale(1.02);
    transition: transform 0.5s ease;
    box-shadow: 12px 12px var(--black-color);
}
.icon-container {
  position: absolute;
  top: -30px;
  left: 30px;
  height: 74px;
  width: 74px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: var(--color-orange-90);
  padding: 20px;
  border-radius: 15px;
  border: 2px solid var(--color-grey-15);
}

.icon {
  width: 34px;
  height: 34px;
}


.card-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--color-grey-10);
  font-family: Raleway;
  font-weight: 700;
  white-space: nowrap;

}

.card-description {
  font-family: Outfit;
  font-weight: 500;
  font-size: 20px;
  color: var(--color-grey-30);
  width: 404px;
}

@media (max-width: 1800px) {
  .card {
    padding: 60px 40px 40px 40px;
    flex: 0 0 100%;
    max-width: 100%;

  }

  .icon-container {
    width: 56px;
    height: 56px;
    top: -24px;
    padding: 16px;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .card-title {
    font-size: 24px;
  }

  .card-description {
    font-size: 16px;
    width: auto;
  }
}

@media (max-width: 798px) {
  .card {
    padding: 50px 40px 30px 30px;
  }

  .card-title {
    font-size: 22px;
  }

}