.footer-container {
    padding: 100px 113px 40px 113px;
    background-color: var(--color-white);
    border: 2px solid var(--color-grey-15);
    box-shadow: 6px 6px 0px 2px var(--dark-gray);
    border-radius: 12px;
}

.Footer {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    padding-bottom: 50px;
}

.rightfooter {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 63%;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid var(--color-grey-15);
    border-top: 1px solid var(--color-grey-15);
}

.social-container {
    display: flex;
    gap: 14px;

    a {
        width: 56px;
        height: 56px;
        background-color: var(--color-orange-90);
        border: 2px solid var(--color-grey-15);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 24px;
            height: 24px;
            color: var(--color-grey-15);
        }
    }
}

.footer-policies {
    display: flex;
    gap: 16px;

    a {
        font-family: Outfit;
        font-weight: 500;
        font-size: 18px;
        text-decoration: none;
        color: var(--color-grey-20);
    }

    span {
        color: var(--color-grey-15);
    }
}

.footer-copyright {
    padding-top: 30px;
    text-align: center;
    color: var(--color-grey-40);
    font-family: Outfit;
    font-weight: 500;
    font-size: 18px;
}

@media (max-width:1560px) and (min-width:1000px) {
    .footer-container {
        padding: 80px 80px 40px 80px;
    }

    .rightfooter {
        gap: 20px;
    }

}

@media (max-width:1100px) {
    .footer-container {
        padding: 60px 30px 30px 30px;
        box-shadow: 6px 6px 0px 1px var(--dark-gray);
    }

    .Footer {
        flex-direction: column;
        gap: 40px;
    }

    .rightfooter {
        gap: 30px;
        width: 100%;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 20px;
    }

    .social-container {
        gap: 10px;

        a {
            width: 44px;
            height: 44px;
            border-radius: 6px;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    .footer-policies {
        gap: 6px;

        a {
            font-size: 14px;
            white-space: nowrap;
        }
    }

    .footer-copyright {
        font-size: 14px;
    }
}