.section-header {
    display: flex;
    gap: 19px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    justify-content: center;
    text-align: center;
}
.section-header h2 {
    font-weight: 700;
    margin: 0;
    color: var(--color-grey-10);
    font-size: 48px;
}

.section-header p {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-grey-20);
}

@media (max-width: 1440px) {
    .section-header h2 {
        font-size: 38px;
    }

    .section-header p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .section-header h2 {
        font-size: 28px;
    }

    .section-header p {
        font-size: 14px;
    }
}

.section-header {
    display: flex;
    gap: 19px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-header h2 {
    font-weight: 700;
    margin: 0;
    font-size: 48px;
}

.section-header p {
    font-weight: 500;
    font-size: 20px;
    color: var(--color-grey-20);
}

@media (max-width: 1440px) {
    .section-header h2 {
        font-size: 38px;
    }

    .section-header p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .section-header h2 {
        font-size: 28px;
    }

    .section-header p {
        font-size: 14px;
    }
}