.section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 19px;
    text-align: center;
    margin-bottom: 100px;
}

.section-header h2 {
    font-weight: 700;
    font-family: "Raleway";
    margin: 0;
    color: var(--color-grey-10);
    font-size: clamp(28px, 3vw, 58px);
}

.section-header p {
    font-weight: 500;
    font-family: "Outfit";
    font-size: clamp(14px, 1.5vw, 20px);
    color: var(--color-grey-20);
    max-width: 996px;
}
