.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
    background-color: var(--color-white);
    border: 2px solid var(--color-grey-15);
    position: sticky;
    border-radius: 8px;
    top: 0;
    z-index: 1000;
}

.navbar__left {
    display: flex;
    align-items: center;
}

.navbar__logo {
    height: 50px;
}

.navbar__links {
    display: flex;
    list-style: none;
}

.navbar__links li a {
    padding: 16px 13px;
    text-decoration: none;
    color: var(--color-grey-15);
    font-weight: 500;
}



.navbar__right {
    display: flex;
    align-items: center;
}



.b-right {
    border-right: 2px solid var(--color-grey-15);
}

.b-left {
    border-left: 2px solid var(--color-grey-15);
}

.o-95 {
    background-color: var(--color-orange-95);
}

.o-75 {
    background-color: var(--color-orange-75);
}